# Virtual environment
venv/

# Environment variables
.env

# Runtime audio
outputs/
audio_responses/
*.wav

# Models (keep folders, ignore files)
models/**/*.onnx
models/**/*.json

# Python cache
__pycache__/
*.pyc
